.logowanie {
    background-color: rebeccapurple;
    text-align: center;
    color: white;
    font-size: 30px;
}
.rejestracja {
    background-color: rebeccapurple;
    text-align: center;
    color: white;
    font-size: 30px;
}
.body {
    background-color: rebeccapurple;
    text-align: center;
    color: white;
    font-size: 30px;
}